#s-e7497dca-25a8-4cba-afe4-ac0906c8fc2d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e7497dca-25a8-4cba-afe4-ac0906c8fc2d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}